.SubHeader{
    position: sticky;
    top: 60px;
    z-index: 10;
    background-color: #fff;
   .container{
      .content{
        display: flex;
        align-items: center;
        .back-button{
            flex: 10%;
            max-width: 10%;
            display: flex;align-items: center;justify-content: center;
        }
        .heading{
            flex: 80%;
            max-width:80%;
            text-align: center;
        }
    }
    border-bottom: solid 1px #dcdcdc;
    border-top: solid 1px #dcdcdc;

   }
}