.Chat {
    h3 {
        font-size: 19px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
    }
    
    .message-list{
        background: #EEF1F1;
        height: 100%;
    }

    .chat-user {
        h6 {
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px;
            margin-bottom: 6px;
        }

        p {
            color: #464F53;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
        }
        
    }
    .css-106c1u2-MuiBadge-badge{
        background: #37474F;
        top: 5px;
        right: 10px;
    }
}