.medicine-component {
    display: flex;
    gap: 20px;

    .heading{
      display: none;
    }

    &.patient{
      margin-top: 60px;
      .heading{
        display: block;
        font-size: 30px;
        font-weight: 700;
      }
      .patient-details{
        display: none;
      }
    }

    .d-flex{
      display: flex;
      justify-content: end;
      align-items: center;
      p{
        margin-bottom: 0;
        margin-right: 8px;
        margin-top: 16px;
      }
    }
  
    .column-one {
      flex: 0 1 66.66%;
      .med-list {
        border: 2px dashed #aaa;
        padding: 20px;
        border-radius: 8px;
  
        .list-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 8px;
          margin-top: 8px;

  
          .med-name {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            width: 100%;
          }

          
  
          .delete-icon {
            margin-left: 10px;
          }

          .occurance-text{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            p:first-child{
              border-right: 1px solid black;
              padding-right: 4px;
              margin-right: 4px;
            }
          }
        }
      }
  
      .action-buttons {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
      }
    }
  
    .column-two {
      
      background: #EEF1F1;
      flex: 0 1 33.33%;
      padding: 16px;

      .user-avatar {
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
      }
  
      .past-records {
        display: flex;
        align-items: center;
        gap: 5px;
      }

      .add-symptoms{
        margin-top: 6px;
        
        input{
          // padding: 8px 14px;
        }
        label{
          // transform: translate(14px, 8px) scale(1);
        }
      }
  
      .divider {
        margin: 15px 0;
      }
  
      .symptoms-chips {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        gap: 10px;
      }
    }
  }

@media screen and (max-width:992px) {
   .medicine-component{
    flex-wrap: wrap;
    flex-direction: column;
   }
}
  