.Verify {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    z-index: 20;

    .auth-content {
        display: flex;
        background: #1F67A6;
        border-radius: 16px;
        position: relative;

        .image {
            flex: 50%;

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        .close{
            position: absolute;
            top: 20px;right: 20px;
            svg{
                fill: #fff;
            }
        }

        span.subhead{
            margin-bottom: 16px;
            display: block;
        }

        .auth-form {
            flex: 50%;

            padding: 40px;

            p {
                font-size: 28px;
                font-style: normal;
                font-weight: 500;
                line-height: 36px;
                margin-bottom: 16px;
                color: #fff;
            }

            .form {
                padding: 24px;
                border-radius: 16px;
                background: #FFF;

                .form-field {
                    display: block;
                    margin-bottom: 24px;
                }

                button {
                    padding: 10px;
                    color: #F0F3F5;
                    text-align: center;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
                    width: 100%;
                    border-radius: 16px;
                    background: #1F67A6;
                    border: none;
                    outline: none;
                }

                a {
                    margin-top: 16px;

                    font-size: 11px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                    color: #49454F;
                    display: block;
                    span{
                        color: #1F67A6;
                    }
                }
            }

        }
        button.resend{
            background: transparent !important;
            color: #1F67A6 !important;
            text-align: right !important;
        }
        button[disabled]{
            color: #49454F !important;
        }
    }
}