.privacy-policy {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 5px #aaa;
    margin-bottom: 84px;
  }
  
  h1 {
    font-size: 24px;
  }
  
  h2 {
    font-size: 18px;
    margin-top: 20px;
  }
  
  h3 {
    font-size: 16px;
    margin-top: 15px;
  }
  
  p {
    font-size: 14px;
    margin: 10px 0;
  }
  
  .contact-info {
    margin-top: 20px;
    padding: 10px;
    background-color: #e5e5e5;
    border-radius: 5px;
  }
  
  .contact-info p {
    margin: 5px 0;
  }
  
  strong {
    font-weight: bold;
  }
  