.ChatRoom{
    margin-top: 30px;
    .chatroom-content{
        display: flex;
        flex-wrap: nowrap;
    }
    .Chat{
        flex: 27%;
        max-width: 27%;
    }
    .Chatlist{
        flex: 73%;
        max-width: 73%;

    }
}

@media screen and (max-width:992px) {
    .ChatRoom{
        height: 100%;
        .container{
            height: 100%;
        }
        .Chat{
            flex: 100%;
            max-width: 100%;
        }
    }
}