.Homepage {
    .banner {
        background: url('../../assets/banner.svg') no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;

        p {
            padding-top: 108px;
            padding-bottom: 60px;
            color: #FFF;
            font-size: 48px;
            font-weight: 700;
            line-height: 64px;
        }

        .appointment-form {
            position: absolute;
            bottom: -28px;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;

            .container {
                display: flex;
                align-items: center;
            }

            .search {
                margin-left: 16px;

                button {
                    border-radius: 100px;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
                    cursor: pointer;
                    padding: 10px 24px;
                    background: #206BAC;
                    border: 1px solid #206BAC;
                    color: #FFF;
                }
            }
        }

        .appointment {
            width: 100%;
            flex: 90%;
            background: #FFF;
            display: flex;
            align-items: center;
            border-radius: 24px;
            overflow: hidden;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

            .symptoms {
                flex: 40%;
                background: #FFF;
                padding: 10px 12px;
                color: #171A1C;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                border: none;
                outline: none;
                height: 100%;

                &::placeholder {
                    color: #171A1C;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                }
            }

            .MuiStack-root {
                flex: 30%;
                padding-top: 0;

                .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
                    border-radius: 0;

                }

                .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
                    border-top: 0;
                    border-bottom: 0;
                    border-right: 1px solid #171A1C;
                    border-left: 1px solid #171A1C;

                }

            }

            .stream-select {
                flex: 30%;
                background: #FFF;
                padding: 10px 12px;
                color: #171A1C;
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                border: none;
                outline: none;
                height: 100%;
            }
        }
    }

    #why {
        margin-top: 84px;
        margin-bottom: 84px;

        .heading {

            font-size: 33px;
            font-style: normal;
            font-weight: 500;
            line-height: 40px;
            margin-bottom: 24px;
        }

        .why-content {
            display: flex;
            align-items: center;

            .why-text {
                ul {
                    list-style-image: url('../../assets/check.svg');
                    list-style-position: outside;
                    margin-left: 36px;
                    padding-right: 80px;
                }

                li {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    margin-bottom: 16px;

                    &::marker {
                        vertical-align: middle;
                    }
                }

                margin-right: 16px;
            }
        }


    }

    #consult {
        .heading {
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                border: none;
                background: transparent;
                color: #206BAC;

                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
            }

            p {

                font-size: 33px;
                font-style: normal;
                font-weight: 500;
                line-height: 40px;
            }
        }

        .consult-types {
            margin-top: 24px;
            display: flex;
            flex-wrap: wrap;

            .consult-type {
                width: 164px;
                height: 146px;
                flex: 0 1 calc((100% - 80px) / 6);
                margin-right: 1rem;
                border-radius: 16px;
                background: url('../../assets/stomach.svg') no-repeat center, lightgray -70.862px 0px / 189.94% 142.466% no-repeat;
                background-size: cover;
                position: relative;
                overflow: hidden;

                &.heart {
                    background: url('../../assets/heart.svg') no-repeat center, lightgray -70.862px 0px / 189.94% 142.466% no-repeat;
                    background-size: cover;
                }

                &.skin {
                    background: url('../../assets/skin.svg') no-repeat center, lightgray -70.862px 0px / 189.94% 142.466% no-repeat;
                    background-size: cover;
                }

                &.ent {
                    background: url('../../assets/ent.svg') no-repeat center, lightgray -70.862px 0px / 189.94% 142.466% no-repeat;
                    background-size: cover;
                }

                &.children {
                    background: url('../../assets/children.svg') no-repeat center, lightgray -70.862px 0px / 189.94% 142.466% no-repeat;
                    background-size: cover;
                }

                &.sanity {
                    background: url('../../assets/mental.svg') no-repeat center, lightgray -70.862px 0px / 189.94% 142.466% no-repeat;
                    background-size: cover;
                }

                &:last-child {
                    margin-right: 0;
                }

                &::after {
                    content: '';
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    flex-shrink: 0;
                    background: #D9EBF2;
                    opacity: 0.86;
                    display: block;
                    position: absolute;
                    bottom: -75px;
                    left: 50%;
                    transform: translateX(-50%);

                }

                p {
                    color: #081B2B;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    position: absolute;
                    bottom: 12px;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 10;
                }
            }
        }


    }

    #clinic {
        margin-top: 80px;

        .heading {
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                border: none;
                background: transparent;
                color: #206BAC;

                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
            }

            p {

                font-size: 33px;
                font-style: normal;
                font-weight: 500;
                line-height: 40px;
            }
        }

        .clinic-types {
            margin-top: 24px;
            display: flex;
            flex-wrap: wrap;

            .clinic-type {
                flex: 0 1 calc((100% - 48px) / 4);
                margin-right: 1rem;
                border-radius: 16px;
                position: relative;
                overflow: hidden;
                display: flex;
                background: #EEF1F1;
                justify-content: space-between;
                margin-bottom: 16px;

                &:nth-child(4n) {
                    margin-right: 0;

                }

                .clinic-text {
                    padding: 16px;

                    p {
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                        letter-spacing: 0.25px;

                        &:first-child {
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 24px;
                            letter-spacing: 0.15px;
                            margin-bottom: 4px;
                        }
                    }
                }

                .clinic-image {
                    img {
                        height: 100%;
                    }
                }

            }
        }


    }

    #testimonial {
        margin-top: 80px;
        margin-bottom: 80px;

        .heading {
            p {
                font-size: 33px;
                font-style: normal;
                font-weight: 500;
                line-height: 40px;
            }

            margin-bottom: 24px;
        }

        .testimonial-users {
            display: flex;

            .testimonial-user {
                flex: 0 1 calc((100% - 32px) / 3);
                margin-right: 16px;
                background: #F4F6F6;
                border-radius: 16px;
                overflow: hidden;

                img {
                    width: 100%;
                }

                .text {
                    padding: 22px 38px;

                    p {
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                    }
                }
            }
        }
    }

    #know {
        .heading {
            p {
                font-size: 33px;
                font-style: normal;
                font-weight: 500;
                line-height: 40px;
            }

            margin-bottom: 24px;
        }
    }

    .know-text {
        p {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 24px;
        }

        .subhead {
            font-size: 19px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            margin-bottom: 0;
        }

        button {
            border: none;
            background: transparent;
            color: #206BAC;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
        }
    }

    .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused,
    .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root[data-shrink='true'] {
        display: none !important;
    }



}

@media screen and (max-width:992px) {
    .Homepage {
        padding-bottom: 70px;

        .banner {
            p {
                font-size: 28px;
                line-height: 36px;
                max-width: 80%;

                br {
                    display: none;
                }
            }

            .appointment-form {
                display: none;
            }

            .appointment-button {
                border-radius: 40px;
                border: 1px solid var(--on-surface-on-surface, #171A1C);
                background: #FFF;
                box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.25);
            }
        }

        #why {
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            overflow: hidden;
            margin-top: 0;
            padding-top: 90px;
            background-color: #FFF;
            transform: translateY(-30px);

            .heading {
                font-size: 28px;
                font-style: normal;
                font-weight: 500;
                line-height: 36px;
            }

            .why-content {
                flex-wrap: wrap;

                .why-text {
                    flex: 100%;

                    ul {
                        padding-right: 0;
                    }

                    li {
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 24px;
                    }
                }

                .why-image {
                    flex: 100%;

                    img {
                        max-width: 100%;
                    }
                }
            }

            margin-bottom: 0;
        }

        #consult {
            .heading {
                flex-wrap: wrap;

                p {
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 28px;
                }

                button {
                    display: none;
                }
            }

            .consult-types .consult-type {
                flex: calc((100% - 16px) / 2);
                margin-bottom: 16px;

                &:nth-child(2n) {
                    margin-right: 0;
                }
            }
        }

        #clinic {
            margin-top: 20px;

            .heading {
                flex-wrap: wrap;

                p {
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 28px;
                }

                button {
                    display: none;
                }
            }

            .clinic-types .clinic-type {
                flex: 100%;
                margin-right: 0;
            }

        }

        #testimonial {
            margin-top: 20px;
            margin-bottom: 20px;

            .testimonial-users {
                flex-wrap: wrap;

                .testimonial-user {
                    flex: 0 1 calc(100%);
                    margin-right: 0;
                    margin-bottom: 20px;
                }
            }
        }

        #know .heading p {
            font-size: 24px;
            line-height: 28px;
        }




    }

    .appointment-button {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 100;
        padding: 12px 0;

        .icon{
            flex: 0 1 20%;
            display: flex;
            justify-content: center;align-items: center;
        }

        .text {
            flex: 0 1 80%;
            p {
                color: #464F53;
                font-size: 11px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                padding: 0;

                &:first-child {
                    color: #171A1C;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 16px;
                }
            }
        }
    }


    .Homepage #testimonial .testimonial-users .testimonial-user .text {
        padding: 22px 12px;
    }

}