.BookingDetail{
    margin-top: 30px;
    .doctor-details-container{
        padding: 0 14px;

        .doctor-details{
            display: flex;
            margin-bottom: 16px;
            .doctor-info{
                margin-left: 12px;
                .info{
                    &-name{
                       color:#206BAC;
                       font-size: 18px;
                       font-weight: 600;
                    }
                    &-id{
                        color:#818589;
                        font-size: 14px;
                        span{
                            font-weight: 600;
                        }
                    }
                    &-type{
                        color:#818589;
                        font-size: 14px;
                        
                    }
                }
            }
        }

        .appointment-details{
            .title{
                p{
                    font-size: 20px;
                    padding-bottom: 10px;
                    padding-top: 10px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.12);;
                    font-weight:500 ;
                    margin: 0;
                }
            }
            .info-icon{
                margin-right: 12px;
            }
            .info-title{
                font-size: 14px;
                font-weight: 600;
            }
            .info-value{
                font-size: 14px;
                color: #818589;
            }
        }

        .map{
            border-radius: 8px;
            padding: 8px;
            display: flex;align-items: center;
            img{
                width: 100%;
                border-radius: 6px;
            }
            margin-top: 12px;
            margin-bottom: 12px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        }

        .info-row{
            display: flex;
            margin-top: 16px;
        }

        .total-paid{
            display: flex;justify-content: space-between;
            .info-value{
                font-weight: 600;
            }
            margin-top: 16px;
        }

    }

}