.Search {
  .banner {
    background: url("../../../assets/banner.svg") no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    p {
      padding-top: 108px;
      padding-bottom: 60px;
      color: #fff;
      font-size: 48px;
      font-weight: 700;
      line-height: 64px;
    }

    p.heading {
      margin-top: 0;
    }

    .appointment-form {
      position: absolute;
      bottom: -28px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;

      .container {
        display: flex;
        align-items: center;
      }

      .search {
        margin-left: 16px;

        button {
          border-radius: 100px;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
          cursor: pointer;
          padding: 10px 24px;
          background: #206bac;
          border: 1px solid #206bac;
          color: #fff;
        }
      }
    }

    .appointment {
      width: 100%;
      flex: 90%;
      background: #fff;
      display: flex;
      align-items: center;
      border-radius: 24px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

      .symptoms {
        flex: 40%;
        background: #fff;
        padding: 10px 12px;
        color: #171a1c;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        border: none;
        outline: none;
        height: 100%;

        &::placeholder {
          color: #171a1c;
          font-size: 1rem;
          font-style: normal;
          font-weight: 400;
          line-height: 16px;
        }
      }

      .MuiStack-root {
        flex: 30%;
        padding-top: 0;

        .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
          border-radius: 0;
        }

        .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
          border-top: 0;
          border-bottom: 0;
          border-left: 1px solid #171a1c;
        }
        input {
          outline: none;
          border: 0px;
        }
      }

      .stream-select {
        flex: 30%;
        background: #fff;
        padding: 10px 12px;
        color: #171a1c;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        border: none;
        outline: none;
        height: 100%;
      }

      .react-autosuggest__container {
        flex: 90%;
        position: relative;
        input {
          width: 100%;
          font-size: 16px;
          padding: 16px;
          border: 0px;
          outline: none;
          border-radius: 24px;
        }
        .react-autosuggest__suggestions-container {
          position: absolute;
          z-index: 1000;
          left: 0;
          background: white;
          // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          max-height: 120px;
          overflow-y: auto;
          right: 0;
          top: 60px;
          padding: 8px;
          ul {
            list-style: none;
          }
        }
        .react-autosuggest__suggestion--highlighted {
          background: lightgray;
        }
        .autocomplete {
          &.title-case {
            letter-spacing: 1px;
            margin-top: 2px;
            &:hover {
              background: lightgray;
            }
            cursor: pointer;
            em {
              font-weight: 700;
            }
            &::first-letter {
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }

  .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused,
  .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root[data-shrink="true"] {
    display: none !important;
  }

  #appointment {
    margin-top: 120px;

    .container {
      display: flex;
    }

    #filters {
      flex: 25%;
      margin-right: 16px;

      .head {
        color: #171a1c;
        font-size: 19px;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 16px;
      }

      .filters {
        padding: 16px;
        border-radius: 16px;
        background: #f4f6f6;

        label.head {
          color: #171a1c;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
          margin-bottom: 16px;
          display: block;
        }

        hr {
          background: #c8ced0;
          margin-top: 16px;
          margin-bottom: 16px;
        }
      }
    }

    #search-result {
      flex: 75%;

      .heading {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        justify-content: space-between;

        p {
          color: #171a1c;
          font-size: 11px;
          font-style: normal;
          font-weight: 400;
          line-height: 16px;

          &:first-child {
            color: #171a1c;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
          }
        }
      }

      .appointment-cards {
        display: flex;
        flex-wrap: wrap;

        .appointment-card {
          position: relative;
          padding: 12px;

          .expand {
            position: absolute;
            top: 12px;
            right: 12px;
            display: none;
          }

          flex: calc((100% - 48px) / 3);
          max-width: calc((100% - 48px) / 3);
          margin-bottom: 16px;
          margin-right: 16px;
          overflow: hidden;
          border-radius: 8px;
          box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15),
            0px 1px 2px 0px rgba(0, 0, 0, 0.3);

          order: 2;

          img {
            width: 100%;
            height: 100%;
          }

          .booking-doc-details {
            display: flex;
            flex-direction: column;

            
            .doc-detail .work,.doc-detail .location{
              display: flex; 
              p{
                margin-left: 4px;
              }
              align-items: center;
            }
            .book-appointment{
              display: flex;
              padding-left: 10px;
              align-items: center;
              justify-content: space-between;
              p{
                margin: 0;
              }
              .lang{
                display: flex;
                align-items: center;
                p{
                  margin-left: 4px;
                  font-size: 12px;
                }
              }

            }
            .book-appointment-btn{
              margin-top: 12px;
              display: flex;justify-content: end;
              button{
                color: #fff;
                background: #206bac;
                border: 0;
                border-radius: 4px;
                padding: 8px;
              }
            }
          }

          .doc-detail {
            padding: 0 12px;

            .profile {
              margin-bottom: 12px;

              P {
                color: #081b2b;

                &:first-child {
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 500;
                  margin-bottom: 4px;
                  margin-top: 0;
                }

                font-size: 11px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                margin: 0;
              }
            }

            .info {
              p {
                color: #081b2b;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
              }

              .tags {
                display: flex;
                justify-content: space-between;
                margin-top: 8px;

                p {
                  color: #0d1f26;
                  font-size: 11px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 16px;
                }

                .langs {
                  display: flex;

                  .lang {
                    display: flex;
                    padding: 4px 8px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 4px;
                    background: #d9ebf2;
                    margin-right: 8px;
                  }
                }

                .rating {
                  display: flex;
                  padding: 4px 8px;
                  justify-content: center;
                  align-items: center;
                  border-radius: 4px;
                  background: #d9ebf2;

                  p {
                    display: flex;
                    align-items: center;
                    font-weight: 500;
                  }

                  svg {
                    margin-left: 2px;
                    fill: #ffb800;
                  }
                }
              }
            }
          }

          .more-details {
            display: none;
          }

          img[alt="docIMage1"] {
            display: none;
          }

          img[alt="docIMage"] {
            display: block;
          }

          &.open {
            order: 1;

            .expand {
              transform: rotate(-180deg);

              svg {
                fill: #0d1f26;
              }
            }

            margin-right: 0;

            .booking-doc-details {
              flex: 70%;
            }

            .doc-image {
              img[alt="docIMage"] {
                display: none;
              }

              img[alt="docIMage1"] {
                display: block;
              }

              img {
                height: 100%;
              }
            }

            display: flex;
            flex: 100%;
            max-width: 100%;

            img {
              height: 100%;
            }

            .doc-detail {
              border-right: 1px solid #c8ced0;
              flex: 50%;
            }

            .more-details {
              display: block;

              .hospital {
                margin-top: 16px;
                margin-bottom: 60px;
              }

              .days {
                font-weight: 600;
                margin: 8px 0;
              }

              .timing {
                font-weight: 500;
              }
            }

            .booking-detail {
              display: flex;
              flex-direction: column;
              padding: 16px;
              flex: 50%;

              .heading {
                border-bottom: 1px solid #c8ced0;
                padding: 16px 0;

                p {
                  color: #171a1c;
                  font-size: 13px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 16px;
                }

                margin-bottom: 12px;
              }

              .timings {
                display: flex;
                flex-wrap: wrap;
                max-height: 200px;
                overflow-y: auto;
                overflow-x: hidden;
                border-bottom: 1px solid #c8ced0;
                margin-bottom: 12px;

                .timing {
                  flex: 0 1 calc((100% - 16px) / 2);
                  border-radius: 6px;
                  background: #d9ebf2;
                  padding: 4px 8px;
                  margin-right: 16px;
                  margin-bottom: 16px;
                  cursor: pointer;

                  &:nth-child(2n) {
                    margin-right: 0;
                  }

                  span {
                    color: #171a1c;
                    font-size: 11px !important;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                  }

                  &.blocked,
                  &.booked {
                    background: rgb(216, 216, 216);
                    pointer-events: none;
                  }

                  &.selected {
                    background: #84dafc;
                  }
                }
              }

              .book-button {
                flex: auto;
                display: flex;
                justify-content: end;
                align-items: end;

                button {
                  padding: 10px 24px;
                  border-radius: 100px;
                  background: #206bac;
                  color: #fff;
                  text-align: center;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 24px;
                  border: none;
                  outline: none;

                  &:disabled {
                    opacity: 0.5;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .no-result {
    display: flex;align-items: center;justify-content: center;
    flex-direction: column;
    img{
      width: 200px;height: 200px;
      margin-bottom: 24px;
    }
    p{

      text-align: center;
    }
  }
  .appointment-button {
    display: none;
  }

  .mobile-search {
    margin-top: 24px;
    display: flex;
    margin-bottom: 24px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px 0px;
    margin-left: 14px;
    margin-right: 14px;
    input {
      width: 100%;
      border: 0px;
      outline: none;
      &:placeholder-shown {
        text-overflow: ellipsis;
      }
      padding: 10px;
    }
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      background: #fff;
      svg {
        fill: #206bac;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .Search {
    padding-bottom: 70px;

    .banner {
      .appointment-form {
        position: absolute;
        bottom: -28px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;

        .container {
          display: flex;
          align-items: center;
        }

        .search {
          margin-left: 16px;

          button {
            border-radius: 100px;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            cursor: pointer;
            padding: 10px 24px;
            background: #206bac;
            border: 1px solid #206bac;
            color: #fff;
          }
        }
      }
    }

    .banner {
      p {
        font-size: 28px;
        line-height: 36px;
        max-width: 80%;

        br {
          display: none;
        }
      }

      .appointment-form {
        display: none;
      }

      .appointment-button {
        border-radius: 40px;
        border: 1px solid var(--on-surface-on-surface, #171a1c);
        background: #fff;
        box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.25);
      }
      .appointment-button {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 100;
        padding: 12px 0;

        .icon {
          flex: 0 1 20%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .text {
          flex: 0 1 80%;
          p {
            color: #464f53;
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            padding: 0;

            &:first-child {
              color: #171a1c;
              font-size: 13px;
              font-style: normal;
              font-weight: 600;
              line-height: 16px;
            }
          }
        }
      }
    }

    #appointment {
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      overflow: hidden;
      margin-top: 0;
      margin-top: 90px;
      background-color: #fff;
      transform: translateY(-30px);

      .container {
        flex-wrap: wrap;
      }

      #filters {
        flex: 100%;
        display: none;
      }

      #search-result {
        flex: 100%;

        .heading {
          p {
            font-size: 12px;
            max-width: 50%;
          }
        }

        .appointment-cards .appointment-card {
          flex: 100%;
          max-width: 100%;
          margin-right: 0;
          display: flex;
          flex-direction: row;

          .doc-image {
            // flex: 35%;
            width: 60px;height: 60px;
            border-radius: 4px;
            overflow: hidden;
          }

          .booking-doc-details {
            // flex: 65%;
            width: 100%;

          }

          &.open {
            flex-direction: column;

            .doc-image {
              max-height: 130px;
            }

            .booking-doc-details {
              flex-direction: column;
            }

            .doc-detail .profile {
              margin-bottom: 0;
            }

            .more-details .hospital {
              margin-bottom: 16px;
            }

            .more-details .subhead {
              padding-top: 16px;
              border-top: 1px solid #c8ced0;
            }

            .booking-detail {
              padding-top: 0;
            }
          }
        }
      }
    }
  }
}
