.row{
    display: flex;
    justify-content: end;
    button{
        &:first-child{
            margin-right: 8px;
        }
    }
}
.mode{
    &::first-letter{
        text-transform: uppercase;
    }
}