// src/components/ChatBox.scss
.Chatlist {
  height: calc(100vh - 112px);

  .container {
    height: 100%;
  }
}

.chat-box {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header-action {
  position: sticky;
  top: 0;
  background: #206BAC;
  color: #FAFAFA;

  .MuiIconButton-root {
    margin-right: 8px;
  }
}

.message-area {
  flex: auto;
  padding: 16px;

  .message {
    margin-bottom: 4px;

    &.own {
      text-align: right;

      .bubble {
        background: #206BAC;
        color: white;
        border-radius: 12px 12px 0 12px;
        display: inline-block;
        padding: 8px 16px;
        max-width: 75%;
      }
    }

    &.other {
      .bubble {
        background: #2E3438;
        color: #fff;
        border-radius: 12px 12px 12px 0;
        display: inline-block;
        padding: 8px 16px;
        max-width: 75%;
      }
    }
  }
}

.input-box {
  padding: 16px;

  .MuiInputBase-input {
    padding-right: 40px; // ensure text doesn't go underneath microphone icon
  }

  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 75%, rgb(255, 255, 255, 0) 100%);

  position: sticky;
  bottom: 0;
  width: 100%;
}