.Profile{
    margin-top: 80px;
    margin-bottom: 80px;
    .container{
        display: flex;
        .profile-details{
            flex: 70%;
            margin-right: 24px;
            input{
                width: 100%;
                display: block;
            }
        }
        .profile-image{
            flex:30%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .image{
            width: 200px;
            height: 200px;
            margin-bottom: 16px;
            border: 2px solid #1F67A6;
            padding: 2px;
            border-radius: 50%;
            img{
                margin: 0 auto;
                border-radius: 50%;
                width: 100%; /* image box size as % of container, see step 1 */
                height: 100%; /* image box size as % of container, see step 1 */
                object-fit: cover; /* matching of image pixels to image box, see step 2 */
            }
        }
        
    }
    .css-mhc70k-MuiGrid-root{
        width: 100%;
    }
    .css-mhc70k-MuiGrid-root>.MuiGrid-item{
        padding-top: 0;padding-bottom: 16px;
    }
    .css-mhc70k-MuiGrid-root>.MuiGrid-item{
        padding-left: 0;
    }
    .css-mhc70k-MuiGrid-root>.MuiGrid-item:nth-child(odd){
        padding-right: 8px;
    }
    .css-mhc70k-MuiGrid-root>.MuiGrid-item:nth-child(even){
        padding-left: 8px;
    }

    input{
        background: rgba(241, 249, 255, 1);
    }
}


@media screen and (max-width:992px) {
    .Profile{
        .container{
            flex-direction: column-reverse;
        }
    }
}